<% if (title) { %>
  <h1><%= title %></h1>
<% } %>

<%- messages() %>

<% if (errors && errors.array().length > 0) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<section class="form-container">
  <h1>Add Classification</h1>
  <form action="/inv/addClassification" method="post" class="auth-form">
    <label for="classification_name">
      Classification Name <span style="color: red;">*</span>
    </label>
    <input 
      type="text" 
      id="classification_name" 
      name="classification_name" 
      required 
      pattern="^[A-Za-z]+$" 
      title="Classification name cannot include spaces or special characters."      
    />

    <p class="password-rules">Name must be alphabetic characters only with no spaces.</p>

    <button type="submit">Add Classification</button>
  </form>
</section>