<% if (title) { %>
<h1 class="classification-title"><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%# messages() %>

<%- grid %>

<% if (isFavorited) { %>
  <form action="/favorites/remove/<%= inv_id %>" method="post">
    <button type="submit" class="btn btn-danger">★ Remove from Favorites</button>
  </form>
<% } else { %>
  <form action="/favorites/add/<%= inv_id %>" method="post">
    <button type="submit" class="btn btn-primary">☆ Add to Favorites</button>
  </form>
<% } %>
