<% if (title) { %>
<h1><%= title %></h1>
<%- messages() %>
<% } else {
  res.redirect('/')
} %>

<div class="inv-link"><a href="/inv/addClassification">Add New Classification</a></div>
<div class="inv-link"><a href="/inv/addInventory">Add New Vehicle</a></div>

<h2>Manage Inventory</h2>
<p>Select a classification to see thoes Inventory items.</p>
<%- classificationSelect %>

<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>